@charset "UTF-8";
.navbar__menu--links, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
}

.navbar {
  font-family: "Lora", serif;
  font-weight: 800;
  height: 82.8px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  background-color: transparent; /* Navbar background color */
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar body.scrolled .navbar a {
  color: black; /* Yukarı kaydırıldığında navbar linklerinin rengi */
  /* Ek stillendirme gerektiren özellikler */
}
.navbar__logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 13%;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: white;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 13%;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 0.75rem;
}
.navbar__menu--links:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: flex;
  align-items: center;
}

.navbar {
  font-family: "Lora", serif;
  font-weight: 800;
  height: 82.8px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  background-color: transparent; /* Navbar background color */
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar body.scrolled .navbar a {
  color: black; /* Yukarı kaydırıldığında navbar linklerinin rengi */
  /* Ek stillendirme gerektiren özellikler */
}
.navbar__logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 13%;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: white;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 13%;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 0.75rem;
}
.navbar__menu--links:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.main {
  color: #0085A1;
  height: 498px;
  width: 1140px;
  max-width: 800px;
  margin: 0 auto; /* Ortalıyoruz */
  padding: 20px;
}

.context {
  margin: 32px;
  color: #222121;
  font-size: 20px;
  align-items: center;
  text-align: left;
}
@media screen and (max-width: 280px) {
  .context {
    font-size: 1.5rem;
  }
}

.context p {
  font-family: "Lora", serif;
  display: block;
  margin: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: flex;
  align-items: center;
}

.navbar {
  font-family: "Lora", serif;
  font-weight: 800;
  height: 82.8px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  background-color: transparent; /* Navbar background color */
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar body.scrolled .navbar a {
  color: black; /* Yukarı kaydırıldığında navbar linklerinin rengi */
  /* Ek stillendirme gerektiren özellikler */
}
.navbar__logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 13%;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: white;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 13%;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 0.75rem;
}
.navbar__menu--links:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.hero {
  height: 530px;
  background-size: 1468px 532.4px;
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 132.4px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  position: relative;
  z-index: 1; /* Overlay'in üzerine gelecek şekilde z-index ayarla */
}
@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container--left {
  width: 100%;
  line-height: 1.2;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}
.hero__container--left h1 {
  color: white;
  font-size: 80px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}
.hero__container--left h2 {
  color: white;
  font-weight: lighter;
  font-size: 24px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Gri overlay rengi */
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: flex;
  align-items: center;
}

.navbar {
  font-family: "Lora", serif;
  font-weight: 800;
  height: 82.8px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  background-color: transparent; /* Navbar background color */
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar body.scrolled .navbar a {
  color: black; /* Yukarı kaydırıldığında navbar linklerinin rengi */
  /* Ek stillendirme gerektiren özellikler */
}
.navbar__logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 13%;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: white;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 13%;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 0.75rem;
}
.navbar__menu--links:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.footer {
  background-color: white; /* Footer arkaplan rengi */
  color: #222121; /* Footer metin rengi */
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-list-item {
  margin: 12.5px 16.5px;
  display: inline-block;
  margin-right: 10px;
}

.footer-list-item:last-child {
  margin-right: 0;
}

.footer-list-item a {
  color: #222121; /* Footer içindeki linklerin rengi */
  text-decoration: none;
  font-size: 24px; /* Linklerin font büyüklüğü */
}

.footer-list-item a:hover {
  color: #0085A1; /* Hover rengi */
  transition: color 0.3s ease; /* Hover geçişi */
}

.footer-copyright {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgba(255, 255, 255, 0); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0085A1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0085A1;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.main__content__container {
  color: #222121;
  max-width: 800px;
  margin: 0 auto; /* Ortalıyoruz */
  padding: 20px;
}

.post-preview {
  margin: 30px;
  color: white;
  font-size: 80px;
  align-items: center;
  text-align: left;
}
@media screen and (max-width: 280px) {
  .post-preview {
    font-size: 1.5rem;
  }
}

.post-preview a {
  text-decoration: none;
  color: #222121; /* Link rengi */
  display: block;
}

.post-preview a:hover {
  color: #222121; /* Link hover rengi */
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.post-title:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.post-subtitle {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 10px;
  color: #222121; /* Alt başlık rengi */
}
.post-subtitle:hover {
  color: #0085A1;
  transition: all 0.3s ease;
}

.post-meta {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222121; /* Meta bilgileri rengi */
  font-style: italic;
  display: flex;
}

.post-meta a:hover {
  color: #0085A1; /* Hover rengi */
  transition: all 0.3s ease;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #949292;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  margin-left: 76%;
  font-size: 16px;
  padding: 16px 28px;
  background-color: #0085A1; /* Buton rengi */
  color: white; /* Buton metin rengi */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0085A1; /* Buton hover rengi */
}/*# sourceMappingURL=styles.css.map */