@import 'navbar';

@import 'about';

@import 'hero';

@import 'footer';

@import 'contact';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

// Main Content CSS

.main__content__container {
  color: $dark;
  max-width: 800px;
  margin: 0 auto; /* Ortalıyoruz */
  padding: 20px;
}

.post-preview {
    margin: 30px;
    color: $light;
    font-size: 80px;
    align-items: center;
    text-align: left;

    @include mobile {
      font-size: 1.5rem;
    }
  }


.post-preview a {
  text-decoration: none;
  color: $dark; /* Link rengi */
  display: block;
}

.post-preview a:hover {
  color: $dark; /* Link hover rengi */
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;

  &:hover {
    color: $blue;
    transition: all 0.3s ease;
  }
}

.post-subtitle {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 10px;
  color: $dark; /* Alt başlık rengi */

  &:hover {
    color: $blue;
    transition: all 0.3s ease;
  }
}

.post-meta {
  font-size: 18px;
  margin-bottom: 10px;
  color: $dark; /* Meta bilgileri rengi */
  font-style: italic;
  display: flex ;
}

.post-meta a:hover {
  color: $blue; /* Hover rengi */
  transition: all 0.3s ease;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
  color: $gray;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  margin-left: 76%;
  font-size: 16px;
  padding: 16px 28px;
  background-color: $blue; /* Buton rengi */
  color: $light; /* Buton metin rengi */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: $blue; /* Buton hover rengi */
}


