@import 'colors';
@import 'media-queries';

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  font-family: 'Lora', serif;
  font-weight: 800; 
  height: 82.8px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  background-color: transparent; /* Navbar background color */
  position: fixed;
  width: 100%;
  top: 0;

  body.scrolled .navbar a {
    color: black; /* Yukarı kaydırıldığında navbar linklerinin rengi */
    /* Ek stillendirme gerektiren özellikler */
  }

  &__logo {
    color: $light;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-left: 13%;
    @extend %align-center;
  }

  &__bars {
    opacity: 0;

    @include tablet {
      color: $light;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 13%;

    @include tablet {
      display: none;
    }

    &--links {
      color: $light;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 24px 16px;
      font-weight: 600;
      font-size: 0.75rem;

      &:hover {
        color: $blue;
        transition: all 0.3s ease;
      }
    }

  }
}
